In [56]:
sc

In [57]:
spark

#### 1. Create a New Spark Session Instance.

In [58]:
sc.stop()

In [59]:
from pyspark import SparkConf, SparkContext
#setMaster() = Set Spark Content Manager which is local[cpu cores]
config = SparkConf().setMaster('local[4]').setAppName("PySparkSession")
sc = SparkContext(conf = config)

In [60]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SQLSession').getOrCreate()

In [61]:
spark

In [62]:
sc

In [63]:
!hdfs dfs -mkdir /flights

mkdir: `/flights': File exists

In [64]:
!hdfs dfs -put /home/hadoop/Downloads/raw_flight_data.csv /flights

put: `/flights/raw_flight_data.csv': File exists

In [65]:
flights_df = spark.read.csv("hdfs://localhost:9000/flights/raw_flight_data.csv", header=True, inferSchema = True)

In [66]:
flights_df.head(5)

[Row(DayofMonth=19, DayOfWeek=5, Carrier='DL', OriginAirportID=11433, DestAirportID=13303, DepDelay=-3, ArrDelay=1),
 Row(DayofMonth=19, DayOfWeek=5, Carrier='DL', OriginAirportID=14869, DestAirportID=12478, DepDelay=0, ArrDelay=-8),
 Row(DayofMonth=19, DayOfWeek=5, Carrier='DL', OriginAirportID=14057, DestAirportID=14869, DepDelay=-4, ArrDelay=-15),
 Row(DayofMonth=19, DayOfWeek=5, Carrier='DL', OriginAirportID=15016, DestAirportID=11433, DepDelay=28, ArrDelay=24),
 Row(DayofMonth=19, DayOfWeek=5, Carrier='DL', OriginAirportID=11193, DestAirportID=12892, DepDelay=-6, ArrDelay=-11)]

In [67]:
#Show data in a tabular format- default 20 records
flights_df.show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          11433|        13303|      -3|       1|
|        19|        5|     DL|          14869|        12478|       0|      -8|
|        19|        5|     DL|          14057|        14869|      -4|     -15|
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          11193|        12892|      -6|     -11|
|        19|        5|     DL|          10397|        15016|      -1|     -19|
|        19|        5|     DL|          15016|        10397|       0|      -1|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          14107|        13487|      -7|     -13|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          11433|        12892|      -2|      -7|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          12953|        10397|      -1|      10|
|        19|        5|     DL|          11433|        12953|      -3|     -10|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

#### select -
To select specific columns from DataFrame

In [68]:
flights_df.select(['DayOfMonth','Carrier','OriginAirportID','DepDelay']).show()

+----------+-------+---------------+--------+
|DayOfMonth|Carrier|OriginAirportID|DepDelay|
+----------+-------+---------------+--------+
|        19|     DL|          11433|      -3|
|        19|     DL|          14869|       0|
|        19|     DL|          14057|      -4|
|        19|     DL|          15016|      28|
|        19|     DL|          11193|      -6|
|        19|     DL|          10397|      -1|
|        19|     DL|          15016|       0|
|        19|     DL|          10397|      15|
|        19|     DL|          10397|      33|
|        19|     DL|          11278|     323|
|        19|     DL|          14107|      -7|
|        19|     DL|          11433|      22|
|        19|     DL|          11298|      40|
|        19|     DL|          11433|      -2|
|        19|     DL|          10397|      71|
|        19|     DL|          12451|      75|
|        19|     DL|          12953|      -1|
|        19|     DL|          11433|      -3|
|        19|     DL|          10397|      31|
|        19|     DL|          13204|       8|
+----------+-------+---------------+--------+
only showing top 20 rows

#### distinct() - To sHow unique columns

In [69]:
flights_df.select(['Carrier']).distinct().show()

+-------+
|Carrier|
+-------+
|     UA|
|     AA|
|     EV|
|     B6|
|     DL|
|     OO|
|     F9|
|     YV|
|     US|
|     MQ|
|     HA|
|     AS|
|     FL|
|     VX|
|     WN|
|     9E|
+-------+

In [70]:
#columns - SHow list of all DataFrame columns
flights_df.columns

['DayofMonth',
 'DayOfWeek',
 'Carrier',
 'OriginAirportID',
 'DestAirportID',
 'DepDelay',
 'ArrDelay']

#### 2)Count() - Aggregate method to show count of dataframe/ count of values

In [71]:
flights_df.count()

2719418

In [72]:
#show Total count of Distinct carrier
flights_df.select(['Carrier']).distinct().count()

16

#### 3) printSchema()
    *Methods print schema naMe and schema datatypes

In [73]:
flights_df.printSchema()

root
 |-- DayofMonth: integer (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- Carrier: string (nullable = true)
 |-- OriginAirportID: integer (nullable = true)
 |-- DestAirportID: integer (nullable = true)
 |-- DepDelay: integer (nullable = true)
 |-- ArrDelay: integer (nullable = true)

#### 4) where()
    * It is a filter method with Boolean conditions and statements

In [74]:
flights_df.where(flights_df.DepDelay > 0).first()

Row(DayofMonth=19, DayOfWeek=5, Carrier='DL', OriginAirportID=15016, DestAirportID=11433, DepDelay=28, ArrDelay=24)

In [75]:
flights_df.where(flights_df.DepDelay >0).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
|        19|        5|     DL|          12889|        13487|       7|      16|
|        19|        5|     DL|          14027|        10397|      13|      25|
|        19|        5|     DL|          13244|        10397|       4|      13|
|        19|        5|     DL|          12953|        11697|      12|      -8|
|        19|        5|     DL|          10397|        12892|      15|       7|
|        19|        5|     DL|          14747|        14869|      15|      18|
|        19|        5|     DL|          10423|        10397|      56|      49|
|        20|        6|     DL|          12892|        15304|      21|      -2|
|        20|        6|     DL|          10397|        11193|      16|      -2|
|        20|        6|     DL|          10397|        11278|       2|       1|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

In [76]:
flights_df.where((flights_df.DepDelay >0) & (flights_df.ArrDelay >0)).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
|        19|        5|     DL|          12889|        13487|       7|      16|
|        19|        5|     DL|          14027|        10397|      13|      25|
|        19|        5|     DL|          13244|        10397|       4|      13|
|        19|        5|     DL|          10397|        12892|      15|       7|
|        19|        5|     DL|          14747|        14869|      15|      18|
|        19|        5|     DL|          10423|        10397|      56|      49|
|        20|        6|     DL|          10397|        11278|       2|       1|
|        20|        6|     DL|          11278|        10397|      34|      38|
|        20|        6|     DL|          11697|        12953|      20|       1|
|        20|        6|     DL|          13487|        13198|      35|      26|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

#### 5) Filter()

In [77]:
flights_df.filter((flights_df.DepDelay >0) & (flights_df.ArrDelay >0)).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
|        19|        5|     DL|          12889|        13487|       7|      16|
|        19|        5|     DL|          14027|        10397|      13|      25|
|        19|        5|     DL|          13244|        10397|       4|      13|
|        19|        5|     DL|          10397|        12892|      15|       7|
|        19|        5|     DL|          14747|        14869|      15|      18|
|        19|        5|     DL|          10423|        10397|      56|      49|
|        20|        6|     DL|          10397|        11278|       2|       1|
|        20|        6|     DL|          11278|        10397|      34|      38|
|        20|        6|     DL|          11697|        12953|      20|       1|
|        20|        6|     DL|          13487|        13198|      35|      26|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

#### 6) isin()
    *Filter values from DataFRame by matching pattern

In [78]:
flights_df.Carrier.isin('DL','F9','UA','9E')

Column<b'(Carrier IN (DL, F9, UA, 9E))'>

In [79]:
flights_df.where(flights_df.Carrier.isin('DL','F9','UA','9E')).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          11433|        13303|      -3|       1|
|        19|        5|     DL|          14869|        12478|       0|      -8|
|        19|        5|     DL|          14057|        14869|      -4|     -15|
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          11193|        12892|      -6|     -11|
|        19|        5|     DL|          10397|        15016|      -1|     -19|
|        19|        5|     DL|          15016|        10397|       0|      -1|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          14107|        13487|      -7|     -13|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          11433|        12892|      -2|      -7|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          12953|        10397|      -1|      10|
|        19|        5|     DL|          11433|        12953|      -3|     -10|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

*Read airports.csv files as Spark DataFrame

In [80]:
airports_df = spark.read.csv("file:///home/hadoop/Downloads/airports.csv" , header = True , inferSchema = True)

In [81]:
airports_df.show()

+----------+-----------+-----+--------------------+
|airport_id|       city|state|                name|
+----------+-----------+-----+--------------------+
|     10165|Adak Island|   AK|                Adak|
|     10299|  Anchorage|   AK|Ted Stevens Ancho...|
|     10304|      Aniak|   AK|       Aniak Airport|
|     10754|     Barrow|   AK|Wiley Post/Will R...|
|     10551|     Bethel|   AK|      Bethel Airport|
|     10926|    Cordova|   AK|Merle K Mudhole S...|
|     14709|  Deadhorse|   AK|   Deadhorse Airport|
|     11336| Dillingham|   AK|  Dillingham Airport|
|     11630|  Fairbanks|   AK|Fairbanks Interna...|
|     11997|   Gustavus|   AK|    Gustavus Airport|
|     12523|     Juneau|   AK|Juneau International|
|     12819|  Ketchikan|   AK|Ketchikan Interna...|
|     10245|King Salmon|   AK| King Salmon Airport|
|     10170|     Kodiak|   AK|      Kodiak Airport|
|     13970|   Kotzebue|   AK| Ralph Wien Memorial|
|     13873|       Nome|   AK|        Nome Airport|
|     14256| Petersburg|   AK|Petersburg James ...|
|     14828|      Sitka|   AK|Sitka Rocky Gutie...|
|     12807| St. Mary's|   AK|  St. Mary's Airport|
|     11445|   Unalaska|   AK|    Unalaska Airport|
+----------+-----------+-----+--------------------+
only showing top 20 rows

#### 7) Join()
    * To join two or more than two dataframes using condition.

In [82]:
flightsAirportDF=flights_df.join(airports_df.select(['airport_id','name']), flights_df.OriginAirportID==airports_df.airport_id )

In [83]:
flightsAirportDF.show()

+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|airport_id|                name|
+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------------+
|        19|        5|     DL|          11433|        13303|      -3|       1|     11433|Detroit Metro Way...|
|        19|        5|     DL|          14869|        12478|       0|      -8|     14869|Salt Lake City In...|
|        19|        5|     DL|          14057|        14869|      -4|     -15|     14057|Portland Internat...|
|        19|        5|     DL|          15016|        11433|      28|      24|     15016|Lambert-St. Louis...|
|        19|        5|     DL|          11193|        12892|      -6|     -11|     11193|Cincinnati/Northe...|
|        19|        5|     DL|          10397|        15016|      -1|     -19|     10397|Hartsfield-Jackso...|
|        19|        5|     DL|          15016|        10397|       0|      -1|     15016|Lambert-St. Louis...|
|        19|        5|     DL|          10397|        14869|      15|      24|     10397|Hartsfield-Jackso...|
|        19|        5|     DL|          10397|        10423|      33|      34|     10397|Hartsfield-Jackso...|
|        19|        5|     DL|          11278|        10397|     323|     322|     11278|Ronald Reagan Was...|
|        19|        5|     DL|          14107|        13487|      -7|     -13|     14107|Phoenix Sky Harbo...|
|        19|        5|     DL|          11433|        11298|      22|      41|     11433|Detroit Metro Way...|
|        19|        5|     DL|          11298|        11433|      40|      20|     11298|Dallas/Fort Worth...|
|        19|        5|     DL|          11433|        12892|      -2|      -7|     11433|Detroit Metro Way...|
|        19|        5|     DL|          10397|        12451|      71|      75|     10397|Hartsfield-Jackso...|
|        19|        5|     DL|          12451|        10397|      75|      57|     12451|Jacksonville Inte...|
|        19|        5|     DL|          12953|        10397|      -1|      10|     12953|           LaGuardia|
|        19|        5|     DL|          11433|        12953|      -3|     -10|     11433|Detroit Metro Way...|
|        19|        5|     DL|          10397|        14771|      31|      38|     10397|Hartsfield-Jackso...|
|        19|        5|     DL|          13204|        10397|       8|      25|     13204|Orlando Internati...|
+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------------+
only showing top 20 rows

#### 8) Drop Duplicates
    * It will drop duplicate reCords from existing Dataframe

In [84]:
flights_df1 = flights_df.dropDuplicates()

#### Task1 : Calculate the percentage of the overall data that wIll be losing after DropDuplicates()

In [87]:
(flights_df.count()-flights_df1.count())/flights_df.count() * 100

0.8249927006440348

#### 11.Describe
    * Use describe method to show summary statistics or numeric dataframe columns.

In [88]:
flights_df1.describe().show()

+-------+------------------+-----------------+-------+------------------+------------------+------------------+------------------+
|summary|        DayofMonth|        DayOfWeek|Carrier|   OriginAirportID|     DestAirportID|          DepDelay|          ArrDelay|
+-------+------------------+-----------------+-------+------------------+------------------+------------------+------------------+
|  count|           2696983|          2696983|2696983|           2696983|           2696983|           2674774|           2673185|
|   mean|15.798996508320593|3.900369412784582|   null|12742.459424846207| 12742.85937657004|10.618575625454712|6.7272897311633875|
| stddev|  8.80126719913545|1.986458242170198|   null|1502.0359941370625|1501.9939589817984|  36.1983084325127| 38.75007476808384|
|    min|                 1|                1|     9E|             10140|             10140|               -63|               -94|
|    max|                31|                7|     YV|             15376|             15376|              1863|              1845|
+-------+------------------+-----------------+-------+------------------+------------------+------------------+------------------+

#### summary()
    * Use the summary() method for detailed summary of columns
    * Summary includes count() , stdev() , min(),max(), mean(), quartiles Q1, Q2, Q3

In [89]:
flights_df.summary().show()

+-------+-----------------+------------------+-------+-----------------+------------------+-----------------+-----------------+
|summary|       DayofMonth|         DayOfWeek|Carrier|  OriginAirportID|     DestAirportID|         DepDelay|         ArrDelay|
+-------+-----------------+------------------+-------+-----------------+------------------+-----------------+-----------------+
|  count|          2719418|           2719418|2719418|          2719418|           2719418|          2691974|          2690385|
|   mean|15.79747468024408|3.8983907586108497|   null|12742.26441172339|12742.455345592329|10.53686662649788| 6.63768791455498|
| stddev|8.799860168985413|1.9859881390373355|   null|1501.972939702572|1501.9692528927803|36.09952806643145|38.64881489390095|
|    min|                1|                 1|     9E|            10140|             10140|              -63|              -94|
|    25%|                8|                 2|   null|            11292|             11292|               -4|              -11|
|    50%|               16|                 4|   null|            12892|             12892|               -1|               -3|
|    75%|               23|                 6|   null|            14057|             14057|               10|               10|
|    max|               31|                 7|     YV|            15376|             15376|             1863|             1845|
+-------+-----------------+------------------+-------+-----------------+------------------+-----------------+-----------------+

#### 13.Select categorical columns

In [91]:
from pyspark.sql.types import IntegerType, StringType
from pyspark.sql.functions import *

In [93]:
#Select categorical columns 
categorical_cols = [field.name for field in flights_df.schema.fields if isinstance(field.dataType, StringType)]

In [94]:
categorical_cols

['Carrier']

#### 14. col().groupBy()
*'col' function is used to refer to a column in Dataframe
*groupBy() method method to group rows of DataFrame based on values of one or more columns

In [97]:
#In pyspark 'col' function is used to refer to a column in Dataframe
#where to use it - In column operations
from pyspark.sql.functions import col

In [99]:
flights_df1.filter(col('ArrDelay') > 10).count()

664460

In [100]:
# Get frequency values for each Categorical Column
for column in categorical_cols:
    flights_df1.groupBy(column).count().show()

+-------+------+
|Carrier| count|
+-------+------+
|     UA|286010|
|     AA|288910|
|     EV|157218|
|     B6|121875|
|     DL|381601|
|     OO|159639|
|     F9| 35736|
|     YV| 52740|
|     US|232955|
|     MQ|112113|
|     HA| 17424|
|     AS| 68544|
|     FL| 92674|
|     VX| 34726|
|     WN|575090|
|     9E| 79728|
+-------+------+

#### 15. isNull()
    * Method returns boolean outcome for missing values.

In [103]:
#Check for nulls in each columns
flights_df1.filter(col('ArrDelay').isNull()).show(100)

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        17|        3|     DL|          14869|        14771|    null|    null|
|        11|        4|     EV|          12266|        13871|    null|    null|
|        19|        5|     EV|          11618|        11433|    null|    null|
|        10|        3|     EV|          13930|        13851|    null|    null|
|         9|        2|     EV|          11292|        14107|    null|    null|
|        18|        4|     AA|          13303|        12892|    null|    null|
|        11|        4|     AA|          13930|        11292|    null|    null|
|        18|        4|     AA|          11298|        14107|    null|    null|
|        16|        2|     AA|          11278|        13930|    null|    null|
|        17|        3|     AA|          13930|        14107|    null|    null|
|        16|        2|     AA|          12478|        12266|    null|    null|
|        18|        4|     AA|          11298|        11618|    null|    null|
|         3|        3|     AS|          14679|        14747|    null|    null|
|        18|        4|     AA|          13930|        15304|    null|    null|
|        18|        4|     DL|          10397|        13930|    null|    null|
|         8|        1|     WN|          11292|        14893|    null|    null|
|        12|        5|     MQ|          13930|        11618|    null|    null|
|        11|        4|     MQ|          13930|        10693|    null|    null|
|        16|        2|     MQ|          10792|        13930|    null|    null|
|        17|        3|     MQ|          13930|        11433|      88|    null|
|        16|        2|     MQ|          11278|        10693|    null|    null|
|        10|        5|     EV|          14683|        12266|    null|    null|
|        11|        6|     EV|          15016|        11618|    null|    null|
|        23|        4|     9E|          13931|        11433|    null|    null|
|        30|        4|     AA|          11042|        11298|    null|    null|
|        28|        2|     B6|          14843|        12478|    null|    null|
|        21|        2|     AA|          14771|        13303|    null|    null|
|         2|        4|     WN|          14570|        12889|    null|    null|
|         4|        6|     WN|          13796|        12892|    null|    null|
|        30|        4|     YV|          12173|        13830|    null|    null|
|        18|        6|     YV|          13851|        12264|       0|    null|
|        12|        7|     MQ|          14679|        12892|    null|    null|
|        31|        5|     F9|          13851|        11292|    null|    null|
|        21|        2|     UA|          12953|        13930|    null|    null|
|        27|        4|     MQ|          11042|        12953|    null|    null|
|        17|        1|     MQ|          12892|        14869|    null|    null|
|         5|        3|     OO|          10397|        12266|    null|    null|
|        27|        4|     UA|          12266|        11618|    null|    null|
|        12|        3|     UA|          13930|        11278|    null|    null|
|         2|        7|     9E|          10792|        12478|    null|    null|
|         7|        5|     9E|          11193|        14100|    null|    null|
|        26|        3|     9E|          12478|        11057|     128|    null|
|         7|        5|     9E|          14100|        11193|    null|    null|
|        29|        6|     9E|          11433|        11042|    null|    null|
|         2|        7|     9E|          11433|        14100|    null|    null|
|        13|        4|     AA|          10721|        13303|    null|    null|
|        28|        5|     AA|          13930|        15016|    null|    null|
|        18|        2|     AA|          13851|        11298|    null|    null|
|        18|        2|     AA|          13244|        11298|    null|    null|
|        14|        5|     AA|          11298|        10140|    null|    null|
|         3|        1|     DL|          12889|        12892|    null|    null|
|        10|        1|     DL|          14908|        14869|    null|    null|
|        13|        4|     US|          12953|        11278|      -6|    null|
|         5|        3|     WN|          13796|        14679|    null|    null|
|        21|        5|     WN|          14908|        14107|    null|    null|
|        25|        2|     WN|          14679|        12889|    null|    null|
|        27|        4|     WN|          12191|        13495|    null|    null|
|        17|        1|     WN|          14679|        14771|    null|    null|
|        24|        1|     DL|          14107|        14869|    null|    null|
|        24|        1|     EV|          11618|        13487|    null|    null|
|         9|        7|     EV|          12266|        11259|    null|    null|
|        16|        7|     EV|          13930|        14730|    null|    null|
|        10|        1|     EV|          11433|        14100|    null|    null|
|        24|        1|     EV|          12953|        12264|    null|    null|
|        13|        4|     EV|          11042|        10792|    null|    null|
|        14|        5|     EV|          13487|        13931|    null|    null|
|        22|        1|     EV|          12266|        13244|    null|    null|
|        28|        7|     EV|          12953|        14122|    null|    null|
|        22|        1|     EV|          10397|        11042|    null|    null|
|        28|        7|     EV|          13198|        12953|    null|    null|
|         7|        7|     EV|          14100|        13487|    null|    null|
|        12|        5|     FL|          13232|        13204|    null|    null|
|        28|        7|     MQ|          14100|        13930|    null|    null|
|        28|        7|     9E|          11193|        11618|    null|    null|
|         5|        5|     AA|          13930|        10721|    null|    null|
|        11|        4|     AA|          11298|        12892|    null|    null|
|        13|        6|     B6|          15304|        14843|    null|    null|
|         8|        1|     B6|          12954|        13796|    null|    null|
|        10|        3|     MQ|          12478|        10821|    null|    null|
|        30|        2|     MQ|          14831|        12892|    null|    null|
|        21|        7|     FL|          15304|        10397|    null|    null|
|        26|        5|     UA|          12266|        13303|    null|    null|
|        23|        2|     UA|          12892|        14771|    null|    null|
|         7|        7|     UA|          11618|        14771|    null|    null|
|        28|        3|     9E|          12478|        11433|    null|    null|
|        11|        7|     9E|          11057|        12478|    null|    null|
|        23|        5|     AA|          13930|        13303|    null|    null|
|        13|        2|     AA|          12264|        11298|    null|    null|
|        22|        4|     US|          12953|        10721|    null|    null|
|        10|        6|     WN|          11259|        12191|    null|    null|
|        21|        3|     YV|          11057|        11066|    null|    null|
|        26|        1|     EV|          14730|        11042|    null|    null|
|         1|        4|     EV|          11618|        13851|    null|    null|
|         1|        4|     EV|          12451|        11618|    null|    null|
|         1|        4|     EV|          12953|        11057|    null|    null|
|        28|        3|     FL|          13495|        10397|      -5|    null|
|        28|        3|     MQ|          14492|        11278|    null|    null|
|         5|        1|     OO|          11292|        14869|    null|    null|
|        10|        6|     OO|          13930|        13342|      13|    null|
|        30|        1|     MQ|          11066|        13930|    null|    null|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 100 rows

In [104]:
#Show the num of missing values for one column
flights_df1.filter(col('ArrDelay').isNull()).count()

23798

In [105]:
flights_df1.select(col('ArrDelay').isNull()).count()

2696983

In [106]:
flights_df1.select(col('ArrDelay').isNull()).show()

+------------------+
|(ArrDelay IS NULL)|
+------------------+
|             false|
|             false|
|             false|
|             false|
|             false|
|             false|
|             false|
|             false|
|             false|
|             false|
|             false|
|             false|
|             false|
|             false|
|             false|
|              true|
|             false|
|             false|
|             false|
|             false|
+------------------+
only showing top 20 rows

In [107]:
#isNull returns boolean value
flights_df1.select(col('ArrDelay').isNull())

DataFrame[(ArrDelay IS NULL): boolean]

In [110]:
flights_df.select([count(when(isnull(column), column)).alias(column) for column in flights_df1.columns]).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|         0|        0|      0|              0|            0|   27444|   29033|
+----------+---------+-------+---------------+-------------+--------+--------+

In [140]:
for columns in flights_df.columns:
    print({columns:flights_df.filter(col(columns).isNull()).count()})

{'DayofMonth': 0}
{'DayOfWeek': 0}
{'Carrier': 0}
{'OriginAirportID': 0}
{'DestAirportID': 0}
{'DepDelay': 27444}
{'ArrDelay': 29033}

In [142]:
#alternative approach - col(), isNull()
from pyspark.sql.functions import col

flights_df.select([sum(col(column).isNull().cast("int")).alias(column)
                      for column in flights_df.columns]).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|         0|        0|      0|              0|            0|   27444|   29033|
+----------+---------+-------+---------------+-------------+--------+--------+

#### 16.fillna()
    * To replace or fill missing values of columns with central tendancy(mean, median, mode)
    *Replace missing values by 0s

In [143]:
flights_df2 = flights_df1.fillna({'DepDelay': 0, 'ArrDelay':0})

In [144]:
flights_df2.select([sum(col(column).isNull().cast("int")).alias(column)
                      for column in flights_df2.columns]).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|         0|        0|      0|              0|            0|       0|       0|
+----------+---------+-------+---------------+-------------+--------+--------+

#### 17.dropna()

In [145]:
flights_df3 = flights_df1.dropna()

#### 18.Statistical Methods
    *mean(), median(), stddev(), quartiles

In [147]:
flights_df1.select(round(mean(col('DepDelay'))).alias('DepDelay_Mean')).show()

+-------------+
|DepDelay_Mean|
+-------------+
|         11.0|
+-------------+

In [149]:
flights_df1.select(round(stddev(col('DepDelay')),3).alias('DepDelay_Std')).show()

+------------+
|DepDelay_Std|
+------------+
|      36.198|
+------------+

In [150]:
flights_df1.select(round(variance(col('DepDelay')),3).alias('DepDelay_Variance')).show()

+-----------------+
|DepDelay_Variance|
+-----------------+
|         1310.318|
+-----------------+

#### * To Calculate median - use approxQuantile().exp()

In [152]:
flights_df1.approxQuantile('ArrDelay', [0.5], 0.0001)[0]

-3.0

In [153]:
flights_df1.select(round(mean(col('DepDelay'))).alias('DepDelay_Mean')).collect()[0][0]

11.0

#### GroupBy() and agg()

In [154]:
flights_df1.groupby("Carrier")

In [155]:
flights_df1.groupBy('Carrier').agg(mean('DepDelay')).show()

+-------+------------------+
|Carrier|     avg(DepDelay)|
+-------+------------------+
|     UA|12.644186783024843|
|     AA|12.154096505870111|
|     EV| 14.52813602113455|
|     B6|12.675216069471794|
|     DL| 7.451940716867138|
|     OO| 7.954327121364983|
|     F9|12.142480802645592|
|     YV| 9.595018289496604|
|     US| 5.011879623272143|
|     MQ|15.612577198673192|
|     HA|1.5358414704192993|
|     AS|0.6606730403765751|
|     FL|10.227206113831024|
|     VX|14.416962353959326|
|     WN|12.930658050935614|
|     9E| 9.767838809034908|
+-------+------------------+

In [163]:
flights_df1.groupBy('Carrier').agg(mean('DepDelay').alias('Mean_DepDelay')
                                   , mean('ArrDelay').alias('Mean_Arr_Delay')).show()

+-------+------------------+--------------------+
|Carrier|     Mean_DepDelay|      Mean_Arr_Delay|
+-------+------------------+--------------------+
|     UA|12.644186783024843|   5.207155029152466|
|     AA|12.154096505870111|    7.22786703097812|
|     EV| 14.52813602113455|  10.501436641191532|
|     B6|12.675216069471794|   9.679335778153199|
|     DL| 7.451940716867138|  2.8085929091567747|
|     OO| 7.954327121364983|   6.447766785619039|
|     F9|12.142480802645592|  12.870312237233028|
|     YV| 9.595018289496604|   8.749505833107245|
|     US| 5.011879623272143|   3.957719324788726|
|     MQ|15.612577198673192|   14.27679662028746|
|     HA|1.5358414704192993|   1.534325271442523|
|     AS|0.6606730403765751|-0.27272328542814955|
|     FL|10.227206113831024|   7.277437501357486|
|     VX|14.416962353959326|   9.678802215555043|
|     WN|12.930658050935614|   8.368672739670938|
|     9E| 9.767838809034908|   4.931550031523011|
+-------+------------------+--------------------+

#### 20.WithColumn
    * All cOlumn operation  - used to create new column or update in an existing column in DataFrame.
    * withColumn is also used for applying transformation or calculation.
    *df.wIthColumn(colName, col)

In [162]:
flights_df1.withColumn("TotalDelay", col('DepDelay') + col('ArrDelay')).show()

+----------+---------+-------+---------------+-------------+--------+--------+----------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|TotalDelay|
+----------+---------+-------+---------------+-------------+--------+--------+----------+
|        19|        5|     DL|          12889|        13487|       7|      16|        23|
|        18|        4|     DL|          12892|        13487|       5|      -4|         1|
|        18|        4|     DL|          14635|        11193|      -7|     -12|       -19|
|        18|        4|     DL|          10397|        11298|      -3|      44|        41|
|        18|        4|     DL|          10397|        12451|       1|      -7|        -6|
|        19|        5|     DL|          13487|        11433|      -3|     -21|       -24|
|        19|        5|     DL|          14771|        13487|     340|     325|       665|
|        19|        5|     DL|          10397|        11298|      20|      20|        40|
|        19|        5|     DL|          12953|        13487|       4|     -28|       -24|
|        19|        5|     DL|          14869|        11278|      -4|     -24|       -28|
|        20|        6|     DL|          12889|        12478|      -6|      -9|       -15|
|        16|        2|     DL|          10397|        11193|      -4|     -19|       -23|
|        16|        2|     DL|          14747|        13487|     -16|     -17|       -33|
|        16|        2|     DL|          10721|        10397|       9|       3|        12|
|        17|        3|     DL|          12173|        14747|      10|       8|        18|
|        17|        3|     DL|          14869|        14771|    null|    null|      null|
|        18|        4|     DL|          10397|        13495|       0|       6|         6|
|        18|        4|     DL|          15304|        11433|      -7|     -13|       -20|
|        18|        4|     DL|          10397|        11618|      -1|     -19|       -20|
|        18|        4|     DL|          13487|        10397|       3|      -3|         0|
+----------+---------+-------+---------------+-------------+--------+--------+----------+
only showing top 20 rows

In [161]:
flights_df1.withColumn("IsDelay", when(col('DepDelay') >= 0, "Delay").otherwise("No Delay")).show()

+----------+---------+-------+---------------+-------------+--------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay| IsDelay|
+----------+---------+-------+---------------+-------------+--------+--------+--------+
|        19|        5|     DL|          12889|        13487|       7|      16|   Delay|
|        18|        4|     DL|          12892|        13487|       5|      -4|   Delay|
|        18|        4|     DL|          14635|        11193|      -7|     -12|No Delay|
|        18|        4|     DL|          10397|        11298|      -3|      44|No Delay|
|        18|        4|     DL|          10397|        12451|       1|      -7|   Delay|
|        19|        5|     DL|          13487|        11433|      -3|     -21|No Delay|
|        19|        5|     DL|          14771|        13487|     340|     325|   Delay|
|        19|        5|     DL|          10397|        11298|      20|      20|   Delay|
|        19|        5|     DL|          12953|        13487|       4|     -28|   Delay|
|        19|        5|     DL|          14869|        11278|      -4|     -24|No Delay|
|        20|        6|     DL|          12889|        12478|      -6|      -9|No Delay|
|        16|        2|     DL|          10397|        11193|      -4|     -19|No Delay|
|        16|        2|     DL|          14747|        13487|     -16|     -17|No Delay|
|        16|        2|     DL|          10721|        10397|       9|       3|   Delay|
|        17|        3|     DL|          12173|        14747|      10|       8|   Delay|
|        17|        3|     DL|          14869|        14771|    null|    null|No Delay|
|        18|        4|     DL|          10397|        13495|       0|       6|   Delay|
|        18|        4|     DL|          15304|        11433|      -7|     -13|No Delay|
|        18|        4|     DL|          10397|        11618|      -1|     -19|No Delay|
|        18|        4|     DL|          13487|        10397|       3|      -3|   Delay|
+----------+---------+-------+---------------+-------------+--------+--------+--------+
only showing top 20 rows

#### 21. expr()

In [167]:
from pyspark.sql.functions import expr
median_expr = expr(f"percentile_approx({'ArrDelay'}, 0.5)")

flights_df1.agg(median_expr.alias('median')).collect()

[Row(median=-3)]